* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h3 {
  font-family: "Baloo Tammudu 2", cursive;
}

.navbar {
  padding: 10px;
  text-align: center;
  background-color: #046582;
  color: white;
}

.tabal {
  margin: 20px 100px 20px 100px;
}

@media screen and (max-width: 768px) {
  .tabal {
    margin: 0;
  }
}

.con {
  width: 100%;
  height: 100%;
  background-color: blanchedalmond;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rout {
  font-size: 18px;
  color: white;
  margin-right: 30px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .con {
    width: 100%;
    height: 100%;
  }
}
.bne {
  width: 10rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
}

.ti {
  display: flex;
  justify-content: center;
  align-items: center;
}
